      .social-footer {
        width: {{width}}px;
      }
      
      .social-footer_follow-us, .social-footer_follow-us img {
        width: 90px;
      }
      
      .social-footer_link, .social-footer_link img {
        width: 20px;
      }
      
      .social-footer_follow-us img, .social-footer_link img {
        height: 20px;
      }
      
      
      .social-footer_follow-us, .social-footer_link {
        padding-right: 8px;
      }