                          <td align={{align}} valign="center" class="social-footer">
                            <table border="0" cellpadding="0" cellspacing="0" width={{ 248 if follow else 170 }}>
                              <tbody>
                                <tr>
                                  {% if follow %}
                                  <td align="center" valign="top" class="social-footer_follow-us">
                                    <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/4128a027-fa14-4c8d-a559-8c42f4571126.png" width="80" height="20" border="0" alt="Follow us">
                                  </td>
                                  {% endif %}
                                  <td align="center" valign="top" class="social-footer_link">
                                    <a href="https://www.linkedin.com/company/jack-morton-worldwide" target="_blank">
                                      <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/be938083-7b64-497a-a738-277a33d4a547.png" width="20" height="20" border="0" alt="LinkedIn">
                                    </a>
                                  </td>
                                  
                                  <td align="center" valign="top" class="social-footer_link">
                                    <a href="http://instagram.com/jackmorton" target="_blank">
                                      <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/b93c0efd-bb6d-4711-8856-2c6e650b5177.png" width="20" height="20" border="0" alt="Instagram">
                                    </a>
                                  </td>
                                  
                                  <td align="center" valign="top" class="social-footer_link">
                                    <a href="http://twitter.com/jackmorton" target="_blank">
                                      <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/80a124cb-3a6b-455b-901f-1d7682b24cb1.png" width="20" height="20" border="0" alt="Twitter">
                                    </a>
                                  </td>
                                  
                                  <td align="center" valign="top" class="social-footer_link">
                                    <a href="http://www.facebook.com/jackmortonworldwide" target="_blank">
                                      <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/6280d83f-262d-434f-adf4-87040040e065.png" width="20" height="20" border="0" alt="Facebook">
                                    </a>
                                  </td>
                                  
                                  <td align="center" valign="top" class="social-footer_link">
                                    <a href="http://vimeo.com/jackmortonww/videos" target="_blank">
                                      <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/f62ae5a0-cb42-42ee-b3fb-40e2b5b7f0f2.png" width="20" height="20" border="0" alt="Vimeo">
                                    </a>
                                  </td>
                                  
                                  <td align="center" valign="top" class="social-footer_link last">
                                    <a href="http://jackmorton.com" target="_blank">
                                      <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/ebd1c7c0-ba21-4128-b95a-6f7417601849.png" width="20" height="20" border="0" alt="Website">
                                    </a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>