      .three-up-image { }

      .three-up-image .container {
        padding-right: 18px;
        width: 188px;
      }

      .three-up-image .container .image img {
        height: 200px;
        width: 188px;
      }