                <tr mc:repeatable="content" mc:variant="divider">
                  <td align="center" valign="top" class="vertical-padding divider">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" class="text divider" mc:label="Divider"></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>