.brand-marketing-footer { 
  padding-top: 50px;
}

.brand-marketing-footer__title {
    font-size: 14px;
    font-weight: bold;
}

.brand-marketing-footer__column {
  padding-right: 20px;
  width: 290px;
}