                        <tr>
                          <td align="center" valign="top" class="brand-marketing-footer">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr mc:hideable>
                                  <td align="center" class="vertical-padding text text--center brand-marketing-footer__title">
                                    <span style="color:#ff5000;">*</span>Here to help Jack grow in fame and fortune.
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr mc:hideable>
                                  <td align="center" valign="top" class="vertical-padding text text--left brand-marketing-footer__column" mc:label="Brand Marketing Footer 1" mc:edit="brandmarketingfooter1{{serial}}">
                                    <a href="peter_sun@jackmorton.com" target="_blank">Peter Sun</a><br />
                                    <em>VP, Brand Marketing</em><br />
                                    <br />
                                    <a href="victoria_yates@jackmorton.co.uk" target="_blank">Vicky Yates</a><br />
                                    <em>Head of PR </em><br />
                                  </td>
                                  <td align="center" valign="top" class="vertical-padding text text--left brand-marketing-footer__column last" mc:label="Brand Marketing Footer 2" mc:edit="brandmarketingfooter2{{serial}}">
                                    <a href="Sasha_Kenkre@jackmorton.com" target="_blank">Sasha Kenkre</a><br />
                                    <em>Coordinator</em>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>