                <tr mc:repeatable="content" mc:variant="two-column-bulleted-text">
                  <td align="center" valign="top" class="two-column-bulleted-text">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" class="vertical-padding text text--left two-column-bulleted-text__column" mc:label="Two Column Bulleted Text" mc:edit="twocolumnbulletedtext{{serial}}">
                            <ul>
                              <li><strong>Two-column bulleted text</strong> | Arial / type 16px / leading 25px | Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                              <li>In sagittis tortor id metus rutrum, eu <a href="#" target="_blank">consequat purus</a> dignissim. In egestas rutrum nisl.</li>
                              <li>Vitae imperdiet nibh, duis in tincidunt ipsum. Vestibulum sagittis elementum sodales.</li>
                              <li>Cras sodales odio tortor, id tristique est bibendum vitae. Suspendisse in odio nisl.</li>
                            </ul>
                          </td>
                          <td align="center" valign="top" class="vertical-padding text text--left two-column-bulleted-text__column last" mc:label="Two Column Bulleted Text" mc:edit="twocolumnbulletedtext{{serial}}">
                            <ul>
                              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                              <li>In sagittis tortor id metus rutrum, eu <a href="#" target="_blank">consequat purus</a> dignissim. In egestas rutrum nisl.</li>
                              <li>Vitae imperdiet nibh, duis in tincidunt ipsum. Vestibulum sagittis elementum sodales.</li>
                              <li>Cras sodales odio tortor, id tristique est bibendum vitae. Suspendisse in odio nisl.</li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>