                <tr mc:repeatable="content" mc:variant="full-width-image">
                  <td align="center" valign="top" class="vertical-padding full-width-image">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" valign="top">
                            <img src="http://via.placeholder.com/600x320/d2d4d7/333d47" alt="" width="600" height="320" style="width:600px; height:320px;" mc:label="full-width-image" mc:edit="fullwidthimage">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>