                        <tr mc:repeatable="content" mc:variant="image-left-text">
                          <td align="center" valign="top" class="vertical-padding image-left">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="center" valign="top" class="image">
                                    <img src="http://via.placeholder.com/188x200/d2d4d7/333d47" alt="" width="188" height="200" style="width:188px; height:200px;" mc:label="Image Left" mc:edit="imageleft{{serial}}">
                                  </td>
                                  <td align="center" valign="top" class="text text--left" mc:label="Image Left Text" mc:edit="textimageleft{{serial}}">
                                    <strong>Text with image on left</strong> | Arial / type 16px / leading 25px | Lorem ipsum dolor sit amet, consectetur adip iscing elit. In sagittis tortor id metus rutrum, eu cons equat purus dignissim. In egestas rutrum nisl vitae imperdiet nibh. Duis in tincidunt ipsum. Sagittis elem entum sodales. Cras odio tortor, id tristique est metus bibendum vitae. Suspendisse in odio nisl. Quisque porttitor non mi nec scelerisque.
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>