                <tr>
                  <td align="center" valign="top" class="preheader">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" class="text" mc:edit="preheader" mc:label="Preheader">
                            Preheader text
                          </td>
                        </tr>
                        <tr>
                          <td align="center" valign="top" class="text">
                            <a target="_blank" href="*|ARCHIVE|*">View email in a browser</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>