                        <tr mc:hideable>
                          <td align="center" valign="top" class="vertical-padding social">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="center" valign="top" class="social__logo-header">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="middle" class="logo-header__image">
                                            <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/43e16e09-d77c-4a46-acf4-651d207c2eab.png" alt="Twitter" height="30" width="30" />
                                          </td>
                                          <td align="center" valign="middle" class="text text--left logo-header__text">
                                            From Twitter
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                <tr>
                                  <td align="center" valign="top" class="social__links">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
{% set feature = 'social' %}
{% include "partials/jack-insider/list/list.html" %}
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" valign="top" class="social__logo-header" style="padding-top: 25px;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="middle" class="logo-header__image">
                                            <img src="https://gallery.mailchimp.com/362b63903562575c68a4b5776/images/692c2948-03b1-4588-9230-fd064678d018.png" alt="Instagram" height="30" width="30" />
                                          </td>
                                          <td align="center" valign="middle" class="text text--left logo-header__text">
                                            From Instagram
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                <tr>
                                  <td align="center" valign="top" class="social__images">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top" class="social__image">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="top">
                                                    <img src="http://via.placeholder.com/194x194/d2d4d7/333d47" alt="" width="194" height="194" mc:edit="socialimage1{{serial}}" mc:label="Social Image 1">
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td align="center" valign="top" class="text text--left image__description" mc:edit="socialimage1description{{serial}}" mc:label="Social Image 1 Description">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td align="center" valign="top" class="social__image">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="top">
                                                    <img src="http://via.placeholder.com/194x194/d2d4d7/333d47" alt="" width="194" height="194" mc:edit="socialimage2{{serial}}" mc:label="Social Image 2">
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td align="center" valign="top" class="text text--left image__description" mc:edit="socialimage2description{{serial}}" mc:label="Social Image 2 Description">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                          <td align="center" valign="top" class="social__image">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="top">
                                                    <img src="http://via.placeholder.com/194x194/d2d4d7/333d47" alt="" width="194" height="194" mc:edit="socialimage3{{serial}}" mc:label="Social Image 3">
                                                  </td>
                                                </tr>
                                                <tr>
                                                  <td align="center" valign="top" class="text text--left image__description" mc:edit="socialimage3description{{serial}}" mc:label="Social Image 3 Description">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
