                        <tr mc:hideable>
                          <td align="center" valign="top" class="vertical-padding social">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="center" valign="top" class="social__links">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
{% set feature = 'social' %}
{% include "partials/jack-insider/list/list.html" %}
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="center" valign="top" class="vertical-padding social__images">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top" class="social__image">
                                            <img src="http://via.placeholder.com/194x194/d2d4d7/333d47" alt="" width="194" height="194" mc:edit="socialimage1{{serial}}" mc:label="Social Image 1">
                                          </td>
                                          <td align="center" valign="top" class="social__image">
                                            <img src="http://via.placeholder.com/194x194/d2d4d7/333d47" alt="" width="194" height="194" mc:edit="socialimage2{{serial}}" mc:label="Social Image 2">
                                          </td>
                                          <td align="center" valign="top" class="social__image last">
                                            <img src="http://via.placeholder.com/194x194/d2d4d7/333d47" alt="" width="194" height="194" mc:edit="socialimage3{{serial}}" mc:label="Social Image 3">
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>