      .got-ideas { 
        padding-right: 32px;
        width: 96px;
      }

      .got-ideas img {
        height: 98px;
        width: 96px;
      }

      .hear-from-you {
        font-size: 20px;
        line-height: 25px;
      }