      ol, ul {
        font-family: arial,sans-serif;
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        mso-line-height-rule: exactly;
      }

      ol ul, ul ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        mso-line-height-rule: exactly;
      }

      #bodyTable {
        background-color: #ffffff;
        height: 100%;
      }

      .text {
        font-family: arial, helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 25px;
        mso-line-height-rule: exactly;
        -webkit-text-size-adjust: none;
      }

      .text--left {
        text-align: left;
      }

      .text--center {
        text-align: center;
      }

      .text--right {
        text-align: right;
      }

      .text a {
        color: #ff5000;
        font-weight: bold;
        text-decoration: underline;
      }

      .horizontal-padding {
        padding-left: 20px;
        padding-right: 20px;
      }

      .vertical-padding {
        padding-top: 25px;
      }