                <tr mc:repeatable="content" mc:variant="two-column-text">
                  <td align="center" valign="top" class="two-column-text">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" class="vertical-padding text text--left two-column-text__column" mc:label="Two Column Text 1" mc:edit="twocolumntext1">
                            <strong>Two-column text</strong> | Arial / type 16px / leading 25px | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis tortor id metus rutrum, eu consequat purus dignissim. In egestas rutrum nisl, vitae imperdiet nibh. Duis in tincidunt ipsum. Vestibulum sagittis elementum sodales. Cras sodales odio tortor, id tristique est bibendum vitae. Suspendisse in odio nisl.
                          </td>
                          <td align="center" valign="top" class="vertical-padding text text--left two-column-text__column last" mc:label="Two Column Text 2" mc:edit="twocolumntext2">
                            <strong>Two-column text</strong> | Arial / type 16px / leading 25px | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis tortor id metus rutrum, eu consequat purus dignissim. In egestas rutrum nisl, vitae imperdiet nibh. Duis in tincidunt ipsum. Vestibulum sagittis elementum sodales. Cras sodales odio tortor, id tristique est bibendum vitae. Suspendisse in odio nisl.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>