                        <tr mc:hideable>
                          <td align="center" valign="top" class="wins">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody>
                                <tr>
                                  <td align="center" valign="top" class="vertical-padding wins__item">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top" class="wins__image">
                                            <img src="http://via.placeholder.com/194x100/d2d4d7/333d47" alt="" width="194" height="100" mc:edit="winsimage1{{serial}}" mc:label="Wins Image 1">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center" valign="top" class="vertical-padding text text--left wins__text" mc:edit="winstext1{{serial}}" mc:label="Wins Text 1">
                                            Office: ################
                                            Offering: ##############
                                            Contact: ##############
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td align="center" valign="top" class="vertical-padding wins__item">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top" class="wins__image">
                                            <img src="http://via.placeholder.com/194x100/d2d4d7/333d47" alt="" width="194" height="100" mc:edit="winsimage2{{serial}}" mc:label="Wins Image 2">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center" valign="top" class="vertical-padding text text--left wins__text" mc:edit="winstext2{{serial}}" mc:label="Wins Text 2">
                                            Office: ################
                                            Offering: ##############
                                            Contact: ##############
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td align="center" valign="top" class="vertical-padding wins__item last">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top" class="wins__image">
                                            <img src="http://via.placeholder.com/194x100/d2d4d7/333d47" alt="" width="194" height="100" mc:edit="winsimage3{{serial}}" mc:label="Wins Image 3">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="center" valign="top" class="vertical-padding text text--left wins__text" mc:edit="winstext3{{serial}}" mc:label="Wins Text 3">
                                            Office: ################
                                            Offering: ##############
                                            Contact: ##############
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>