                <tr mc:repeatable="content" mc:variant="full-width-text">
                  <td align="center" valign="top" class="full-width-text">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" class="vertical-padding text text--left" mc:label="Full-Width Text" mc:edit="fullwidthtext{{serial}}">
                            <strong>Full-width text</strong> | Arial / type 16px / leading 25px | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sagittis tortor id metus rutrum, eu consequat purus dignissim. In egestas rutrum nisl, vitae imperdiet nibh. Duis in tincidunt ipsum. Vestibulum sagittis elementum sodales. Cras sodales odio tortor, id tristique est bibendum vitae. Suspendisse in odio nisl.<br>
                            <br>
                            Quisque porttitor non mi nec scelerisque. Phasellus quis sem sed nibh ullamcorper consequat efficitur id nulla. Vivamus justo risus, maximus et dapibus eget, lacinia eu dolor. Sed vel tristique purus, ut hendrerit ligula. Phasellus quis ultrices magna. Vestibulum consequat tellus eu urna mattis, sed efficitur lacus eleifend. Pellentesque ultrices tortor ante, eget efficitur arcu semper at.
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>