      .header img {
        background-color: #333d47;
        color: #ffffff;
        font-size: 32px;
        font-weight: bold;
        height: {{header.height}}px;
        line-height: 25px;
        text-align: left;
        width: {{header.width}}px;
      }