      .header {
        background-color: #ffffff;
      }

      .header img {
        background-color: #ffffff;
        color: #333d47;
        font-size: 32px;
        font-weight: bold;
        height: {{height}}px;
        line-height: 25px;
        text-align: left;
        width: {{width}}px;
      }
